@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  padding: 20px;
  margin-bottom: 60px;
}

nav a {
  margin-left: 15px;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: flex;
  padding: 20px;
  margin-top: 60px;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.graf-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}